:root {
    /* Variáveis Locais */
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #ffffff;

    --color-black-first: #000000;
    --color-black-second: #3a4042;
}

body {
    background-color: var(--color-black-second);
    font-family: 'Press Start 2P', cursive;
}