:root {
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #ffffff;
    --color-black-primary: #000000;
    --color-black-second: #324042;
}

body {
    background-color: #324042;
    font-family: 'Press Start 2P', cursive;
}