input {
    display:block;
    margin: 0 auto;
    width: 420px;
    height: 45px;
    border: 4px solid #000;
    box-shadow: 4px 4px 0px #000; /* sombra de elemetos com caixa*/
    font-family: inherit;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}