.main-button {
    display:block;
    margin: 0 auto;
    width: 420px;
    height: 55px;
    background-color: var(--color-second);
    font-family: inherit;
    color: var(--color-third);
    font-size: 20px;
    border: none;
    box-shadow: 4px 4px 0px var(--color-black-first);
    cursor: pointer;
    transition: transform 200ms ease-in-out; /* Aplica o efeito em cima do estabelecido na propriedade transform */
}

/* Quando passar o mouse em cima, a propriedade hover é acionada*/
.main-button:hover {
    background-color: var(--color-first);
    transform: scale(1.05) ;
    /* Aumenta 5% do tamanho do elemento, levando em consideração a sua altura e largura definida */
}